<mat-toolbar color="primary" class="flex justify-between">
  <span>Painel</span>
</mat-toolbar>

<div class="grid-default margin">
  <!-- Eventos -->
  <mat-card appearance="outlined" routerLink="/painel/eventos" class="pointer">
    <mat-card-header>
      <div mat-card-avatar class="eventos-header-image cover"></div>
      <mat-card-title>Eventos</mat-card-title>
    </mat-card-header>
  </mat-card>

  <!-- Administração -->
  <mat-card appearance="outlined" routerLink="/painel/administracao" class="pointer">
    <mat-card-header>
      <div mat-card-avatar class="administracao-header-image cover"></div>
      <mat-card-title>Administração</mat-card-title>
    </mat-card-header>
  </mat-card>
</div>
