<div class="login-page center">
  <div class="form">
    <img src="./assets/img/logo.png" width="220px" >
    <form class="login-form" [formGroup]="f">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="Email" required />
      </mat-form-field>
      <mat-error *ngIf="errorCredentials">
        Não foi possível verificar. Contate seu pastor.
      </mat-error>
      <button mat-raised-button color="primary" (click)="onSubmit()">Enviar link para nova senha</button>
    </form>
    <mat-progress-bar class="margin" *ngIf="loading" color="primary" mode="indeterminate"></mat-progress-bar>
  </div>
</div>
