@import "https://fonts.googleapis.com/css?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Roboto:400,300";
@import 'css/layouts.css';

@tailwind base;
@tailwind utilities;
/* @tailwind components; */


.search-header {
  padding: 8px 0px 0;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

@layer base {
  .grid-default {
    @apply grid grid-cols-1 gap-3 md:grid-cols-2 lg:grid-cols-3;
  }

  .list-itens {
    @apply w-full border-none py-1;
  }
}


.mat-mdc-card-title {
  font-weight: 500;
}

.content {
  width: 100%;
}

.margin {
  margin: 15px 0px !important;
}

.password {
  -webkit-text-security: disc;
}

.pointer {
  cursor: pointer !important;
}
